.dropdown {
    border-bottom: 2px solid #cdc1f4;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

.dropdown li {
    padding: 8px;
    position: relative;
    text-align: left;
    border-bottom: 1px solid #fefefe;
}

.dropdown li ul li ul li a{
    color: #fefefe !important;
}

.dropdown ul {
    box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.1);
    display: none;
    border-radius: 4px;
    left: -96%;
    position: absolute;
    top: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    width: 200px;
}

/* The second level sub dropdown */
.dropdown ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}

/* Change background color of list item when being hovered */
.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

/* Show the direct sub dropdown when hovering the list item */
.dropdown li:hover > ul {
    display: block;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}